<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "/form.css" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= wicked_pdf_stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
  <li><a href="<%= employees_path %>">Employee Details</a></li>
  <% if current_employee && [Constant.employee_roles[:admin]].include?(current_employee.role) %>
    <li><a href="<%= leave_types_path %>">Leave Type</a></li>
  <% end %>
  <li><a href="<%= apply_leaves_url %>">Apply Leaves</a></li>
  <% if current_employee && [Constant.employee_roles[:admin]].include?(current_employee.role) %>
    <li><a href="<%= salary_heads_url %>">Salary Head</a></li>
  <% end %>
  <li><a href="<%= salary_allotments_url %>">Salary Allotment</a></li>
  <il class="nav navbar-nav navbar-left">
    <% if current_employee %>
      <li> <%= link_to "#{current_employee.email}",employees_path %></li>
      <li><%= link_to 'Logout', destroy_employee_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Login', new_employee_session_path %></li>
    <% end %>
  </il>
</ul>


<%= yield %>

</body>
</html>
